.card {
  flex-flow: row;
  border-style: none;
}

.card .card-img {
  width: 30vw;
  height: 80vh;
  margin: 20px;
}
.card-info {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 30px;
}
.goBackBtn {
  width: 40px;
  padding: 5px;
  border-radius: 20px;
  margin: 24px;
}

.arrow {
  font-size: 25px;
}

.addToCartBtn {
  margin: 20px;
  padding: 7px;
  border-radius: 6px;
  background-color: #cdf0ea;
}

.selection {
  font-size: 14px;
}

.amount {
  width: 2vw;
  text-align: center;
  padding: 2px;
}

@media only screen and (max-width: 900px) {
  .card {
    flex-wrap: wrap;
    flex-basis: auto;
    flex-flow: column;
  }
  .card .card-img {
    width: 60vw;
    height: 60vw;
  }
}
