<div class="wrapper flex-center">
  <h1 class="size signIn">SIGN IN</h1>
  <form class="form" [formGroup]="userForm">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <div class="flex">
        <input
          type="email"
          matInput
          formControlName="emailFormControl"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
        />
        <div class="icon bi bi-envelope-paper"></div>
      </div>
      <mat-error
        *ngIf="
          userForm.controls['emailFormControl'].hasError('email') &&
          !userForm.controls['emailFormControl'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="userForm.controls['emailFormControl'].hasError('required')"
      >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <div class="flex">
        <input
          type="password"
          matInput
          formControlName="passwordFormControl"
          [errorStateMatcher]="matcher"
        />
        <div class="icon bi bi-key-fill"></div>
      </div>
      <mat-error
        *ngIf="
          userForm.controls['passwordFormControl'].hasError('password') &&
          !userForm.controls['passwordFormControl'].hasError('required')
        "
      >
        Please enter a valid password
      </mat-error>
      <mat-error
        *ngIf="userForm.controls['passwordFormControl'].hasError('required')"
      >
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="btns flex-center">
      <button class="btn btn-dark" mat-button (click)="onResetForm()">
        RESET
      </button>
      <button class="btn btn-warning" mat-button>CREATE ACCOUNT</button>
      <button class="btn btn-warning" mat-button (click)="signIn()">
        SIGN IN
      </button>
    </div>
  </form>
</div>
