<mat-toolbar class="nav">
  <mat-toolbar-row class="toolbarRow">
    <button
      (click)="sidenav.toggle()"
      mat-icon-button
      fxShow="true"
      fxHide.gt-sm
    >
      <i class="bi bi-list"></i>
    </button>
    <img
      src="../../../assets/images/Clothing store.png"
      alt="Clothing store logo"
      width="80px"
      class="logo"
    />
    <div fxShow="true" fxHide.lt-md class="hideResponsive">
      <a
        routerLink="/home"
        routerLinkActive="active"
        class="nav-link"
        aria-current="page"
        >Home</a
      >
      <a routerLink="/store" routerLinkActive="active" class="nav-link"
        >Store</a
      >
      <a routerLink="/user" routerLinkActive="active" class="user-icon">
        <i class="bi bi-person-fill icon"></i>
      </a>
      <a routerLink="/cart" routerLinkActive="active">
        <i class="bi bi-bag icon"></i>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav #sidenav class="nav">
  <mat-nav-list>
    <div class="icons-responsive">
      <a routerLink="/home" routerLinkActive="active" aria-current="page"
        >Home</a
      >
      <a routerLink="/store" routerLinkActive="active">Store</a>
      <a routerLink="/cart" routerLinkActive="active">
        <i class="bi bi-bag icon"></i>
      </a>
      <a routerLink="/user" routerLinkActive="active" class="user-icon">
        <i class="bi bi-person-fill icon"></i>
      </a>
    </div>
  </mat-nav-list>
</mat-sidenav>
