<mat-card class="card">
  <img
    mat-card-image
    src="{{ card?.image }}"
    alt="{{ card?.title }}"
    class="img"
  />
  <div class="card-bottom">
    <mat-card-title>{{ card?.title | titlecase }}</mat-card-title>
    <mat-card-footer>{{ card?.price | currency: "NIS" }}</mat-card-footer>
  </div>

  <!-- <mat-card-actions class="d-flex justify-content-between m-2">
    <button mat-button class="addToCartBtn m-2">
      {{ "add to cart" | uppercase }}
    </button>
  </mat-card-actions> -->
</mat-card>

<!-- <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content> -->
