.card {
  width: 25vw;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img:hover {
  transition: 400ms ease-in-out;
  opacity: 0.4;
}
.card .img {
  height: 60vh;
  width: 25vw;
}

@media only screen and (max-width: 900px) {
  .card {
    width: 35vw;
  }
  .card .img {
    width: 35vw;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 60vw;
  }
  .card .img {
    width: 60vw;
  }
}

.content {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.save-icon {
  cursor: pointer;
  align-self: flex-end;
}
.save-icon:hover {
  transform: scale(1.5);
}
