<div class="card">
  <a (click)="getCard(card?._id ?? '')">
    <img
      mat-card-image
      src="{{ card?.image }}"
      alt="{{ card?.title }}"
      class="img"
    />
  </a>

  <div class="p-2 m-2">
    <p>{{ card?.title | titlecase }}</p>
    <p>{{ card?.price | currency: "NIS" }}</p>
  </div>
</div>

<div *ngIf="cardId" class="d-flex">
  <div>
    <img
      mat-card-image
      src="{{ card?.image }}"
      alt="{{ card?.title }}"
      class="img"
    />
  </div>
  <div>
    <p>{{ card?.title }}</p>
    <p>{{ card?.type }}</p>
    <p>
      {{ card?.description }}
    </p>
  </div>
  <p>{{ card?.type }}</p>
  <select class="form-control">
    <option></option>
    <option>32</option>
    <option>34</option>
    <option>36</option>
    <option>38</option>
    <option>40</option>
    <option>42</option>
    <option>44</option>
  </select>
  <div>
    <button>{{ "add to cart" | uppercase }}</button>
  </div>
</div>

<!-- <mat-card-content>
   
  </mat-card-content> -->
