<button type="button" class="goBackBtn" (click)="goBack()">
  <i class="bi bi-arrow-left"></i>
</button>

<div class="card">
  <img src="{{ card?.image }}" alt="{{ card?.title }}" class="card-img" />
  <div class="card-info">
    <p>{{ card?.title | uppercase }}</p>
    <p>{{ card?.type }}</p>
    <p>
      {{ card?.description }}
    </p>
    <p>{{ card?.price | currency: "NIS" }}</p>
    <select class="form-control">
      <option>32</option>
      <option>34</option>
      <option>36</option>
      <option>38</option>
      <option>40</option>
      <option>42</option>
      <option>44</option>
    </select>
    <div>
      <button class="addToCartBtn">{{ "add to cart" | uppercase }}</button>
    </div>
  </div>
</div>
