<div class="cart-item">
  <td>
    <img src="{{ item?.image }}" alt="{{ item?.title }}" width="120px" />
  </td>
  <td>{{ item?.title }}</td>
  <td>{{ item?.price | currency: "NIS" }}</td>
  <td>
    <div class="buttonsContainer">
      <button (click)="increment()" class="plus">+</button>
      <!-- <input type="text" [(ngModel)]="item!.quantity" class="amount" /> -->
      <button (click)="decrement()" class="minus">-</button>
    </div>
  </td>
  <td>
    <a>
      <img
        src="../../assets/images/trash-can.png"
        alt="Trash can image"
        width="40px"
        (click)="removeBook(item?.id ?? '')"
      />
    </a>
  </td>
</div>
