.wrapper {
  flex-flow: column;
  height: 60vh;
  flex-grow: 1;
}

.cart-heading {
  flex-flow: column;
}

table {
  width: 70%;
}

.btns {
  align-items: center;
  height: 30vh;
  justify-content: space-evenly;
  width: 50vw;
}
.btn {
  background-color: #ecc5fb;
  border-radius: 5px;
  border-color: black;
}
.trashIcon {
  font-size: 20px;
}
