<app-navbar></app-navbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened position="end" class="right-content">
    <div class="user-icon">
      <i class="icon bi bi-person-circle"></i>
      <span>{{ user?.userName?.toUpperCase() }}</span>
      <button
        *ngIf="!userIsAuthenticated"
        class="signInBtn"
        class="logOutBtn"
        (click)="signIn()"
      >
        Sign In
      </button>
    </div>
    <ng-container *ngIf="userIsAuthenticated">
      <nav class="nav">
        <li *ngIf="user?.isAdmin">
          <a class="link" [routerLink]="['/createCard']">Add New Item</a>
        </li>
      </nav>
      <button class="logOutBtn" (click)="logOut()">Log Out</button>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
